@import url('https://fonts.googleapis.com/css2?family=Madimi+One&display=swap');
body {
    font-family: 'Madimi One';
    margin: 0;
    padding: 0;
    background: #ffffff;
    color: #e0e0e0;
}

html{
    scroll-behavior: smooth;
}

header {
    background: #1b1b2f;
    color: white;
    text-align: center;
    padding: 15px;
    font-size: 20px;
}

.container {
    display: flex;
    width: 90%;
    margin: auto;
    padding: 20px;
}

.sidebar, .news {
    background: #16213e; 
    padding: 10px;
    border-radius: 8px;
}

.sidebar {
    width: 20%;
}

.sidebar h2 {
    font-size: 20px;
    color: #e0e0e0;
}

.sidebar ul {
    list-style: none;
    padding: 0;
}

.sidebar ul li {
    margin: 10px 0;
}

.sidebar ul li a {
    text-decoration: none;
    color: #e0e0e0;
    font-weight: bold;
    transition: color 0.3s;
}

.sidebar ul li a:hover {
    color: #ffcc29;
}

.content {
    width: 55%;
    background: #0f3460;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}

.content h2 {
    color: #ffcc29; 
}

.content img {
    width: 100%;
    border-radius: 5px;
}

.news {
    width: 25%;
    background: #16213e;
}

.news article {
    background: #1b1b2f;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    border-left: 5px solid #ffcc29;
}

footer {
    padding: 15px;
    background: #1b1b2f;
    color: white;
    font-size: 16px;
    margin-top: 20px;
}
